/* pc >= 1024px / 64em*/
@media (min-width:  64em){

}

/*  1023px / 63.9375em >= Tablet >= 740px / 46.25em */
@media (max-width: 63.9375em) and (min-width: 46.25em){
    .menu-icon span {
        text-align: center;
        font-size: 12px;
    }
    /* submenu */
    .list-menu>li:hover .submenu {
        top: 48px;
    }
}

/* mobile and tablet */
@media (max-width: 63.9375em){
    .header {
        padding: 0 7.64vw;
    }
    
    .submenu {
        display: none;
    }
    .header>img {
        cursor: pointer;
        width: 84px;
    }

    .block-product {
        /* margin-top: 96px; */
        padding: 20px 7.64vw;
    }

    /* login signin */
    .modal-content{
        margin: 0;
        width: 100%;
    }

    .block-service {
        display: none;
    }
    .slider {
        display: none;
    }
    .blockdeals {
        margin-top: 84px;
    }
}

/* Moblie <= 739px / 46.1875em */
@media (max-width: 46.1875em){
    /* header */
    .list-menu {
        display: none;
    }
    .menu-icon span {
        text-align: center;
        font-size: 9px;
    }
    /*  */

    /* shopping-cart */
    .block-cart {
        /* width: auto; */
    }

    /* slick slider */
    .nav-items-blocktitle .nav-item {
        display: none;
    }
    
    button.slick-prev.slick-arrow,
    button.slick-arrow.slick-next {
        display: none !important;
    }
    .image-item:hover .add-to-card {
        display: none;
    }

    /* grid img */
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 31px;
    }

    /* footer */
    .footer-content .row{
        flex-direction: column;
    }
    .footer-column1,
    .footer-column2,
    .footer-column3,
    .footer-column4 {
        width: 100%;
    }

}

/* screen < 1195px*/
@media (max-width: 1195px){
    .list-menu>li:hover .submenu {
        top: 44px;
    }
}